<h1>Sam Canning</h1>
<h2>Projects</h2>
<div class="project">
    <h3><a href="http://musicollage.xyz">Musicollage</a> <a class="github" href="https://github.com/samcanning/musicollage">(Github)</a></h3>
    <img class="projectimg" src="~/images/musicollage.png">
    <div class="description">
        <p>A music rating site using MusicBrainz API for artist and release metadata, and CoverArtArchive API for art. Users can rate albums and create collages of their highest-rated albums, with an option to constrain results to a particular era.</p>
        <p>Users can also create and view artwork collages for other users, or view the site-wide top 10 based on average ratings of all users.</p>
        <p>To try it out, feel free to use the following account: name "testuser", password "qwerty123".</p>
    </div>
</div>
<div class="project">
    <h3><a href="http://ec2-34-235-116-29.compute-1.amazonaws.com/">Podcast Site Builder</a>  <a class="github" href="https://github.com/samcanning/podcastsitebuilder">(Github)</a></h3>
    <img class="projectimg" src="~/images/podcastsitebuilder.png">
    <div class="description">
        <p>Podcast Site Builder is a website templates for podcasts. Upon launching, an admin can set any RSS feed and the site will populate with the title and episodes of the podcast. The admin can then add a description for the podcast, social media links, hosts, and social media links for the hosts.</p>
        <p>As an example, I've created a website for the podcast "My Brother, My Brother and Me".</p>
    </div>
</div>
<div class="project">
    <h3><a href="http://dotacreator.com">DotaCreator</a>  <a class="github" href="https://github.com/samcanning/dotaherocreator">(Github)</a></h3>
    <img class="projectimg" src="~/images/dotacreator.png">
    <div class="description">
        <p>This site is based on the "Ability Draft" mode in Dota 2. Using an existing Dota 2 character as a base, mix and match any of the spells in the game to create your own hero with a new name, biography, and optional custom portrait.</p>
        <p>If users create an account, they can rate other users' heroes, allowing display of all user-created heroes <a href="http://www.dotacreator.com/heroes/top">sorted by rating</a> (as with Musicollage, feel free to log in with "testuser / qwerty123").</p>
        <p>The site also has an API with data for the game's <a href="http://dotacreator.com/api/hero/10">heroes</a> and <a href="http://dotacreator.com/api/spell/27">spells</a>.</p>
    </div>
</div>
<hr>
<p>All of the above projects were built in C# with ASP.NET Core.</p>